<input type="search" class="form-control" (keyup)="searchItem($event)" />
<br/>
<a class="btn btn-primary text-white" (click)="add()">Add</a>

<table class="table table-bordered">
    <thead>
        <tr class="bg-primary text-white">
            <th>Student id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>E-mail</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of Alldata;let i= index">
            <td>{{p.id}}</td>
            <td>{{p.firstname}}</td>
            <td>{{p.lastname}}</td>
            <td>{{p.email}}</td>
            <td>{{p.address}}</td>
            <td><a class="btnedit" (click)="Editcall(i)">Edit</a> |
                <a class="btndelete" (click)="deletecall(i)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>


<div class="bg-white p-5">
    <div class="form-group">
        <label>Firstname</label>
        <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="info.firstname" placeholder="Firstname">
    </div>
    <div class="form-group">
        <label>Lastname</label>
        <input type="text" class="form-control" name="lastname" [(ngModel)]="info.lastname" placeholder="Lastname">
    </div>
    <!-- <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="info.email" placeholder="email">
    </div> -->
    <div class="form-group">
        <label>Email</label>
        <input *ngFor="let s of studentData;let i= index" type="email" [(ngModel)]="s.email" class="form-control" id="email" name="{{i}}" placeholder="Email">


    </div>
    <div class="p-2 d-block"><a class="badge bg-primary
            text-white p-1 float-right" class="addbtn" (click)="add_email()"><i
                aria-hidden="true" class="fa fa-plus-circle"></i>Add</a>
    </div>

    <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="info.address" placeholder="Address">
    </div>
    <button type="submit" class="btn btn-primary mx-2" (click)="addCall(info)">Submit</button>
    <button type="submit" class="btn btn-primary" (click)="editCall(info)">Update</button>
</div>